Mac_Template_Express_With/node_modules/
Mac_Template_Express_With/build/

Window_Template_Express_With/node_modules/
Window_Template_Express_With/build/

Window_Template_Redux/node_modules/
Window_Template_Redux/build/


# file: ~/.gitignore_global
.DS_Store
.idea